@import url(reset.css);


.contenedor {
    width: 1000px;
    /*Por si se estira, porque no sabemos lo que ocupa el contenido*/
    margin: 20px auto;
    font-family: sans-serif;
}

.izquierda {
    width: 200px;
    height: 400px;
    background-color: #43889f;
    float: left;
}

.centro {
    height: 400px;
    width: 650px;
    float: left;
    background:linear-gradient(to right,white,lightblue,#2196f3);
}

.derecha {
    width: 150px;
    height: 400px;
    background-color: #43889f;
    float: right;
}

.texto {
    width: 400px;
    font-size: 20px;
    text-align: justify;
    padding: 20px;

}

