@import url(reset.css);


.contenedor {
    width: 1000px;
    /*Por si se estira, porque no sabemos lo que ocupa el contenido*/
    margin: 20px auto;
    font-family: sans-serif;
	}

.superior,.inferior {
    width: 900px;
    height: 200px;
    background-color: #43889f;
    }
.centro{
	width: 900px;
    height: 300px;
	}
.imagen{
	width: 550px;
	height: 300px;
	background-image: url(../imgs/bienviendo-a-suavinex-63.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	float: left;
	}

.lista{
	width: 330px;
	height: 300px;
	margin-left: 20px;
	float: left;
	}
	.centro h1{
	height: 30px;
    margin: 25px auto;
		
	}
	.centro img{
		height: 30px;
   		width: 100px;
	}
	.centro li{
	padding-bottom: 6px;
    line-height: 12px;
    font-size: 12px;
	}
	.inferior p{
	color: white;
    font-size: 8px;
    margin-left: 570px;
    padding-top: 13px;

	}