@import url(reset.css);


.contenedor {
    width: 1000px;
    /*Por si se estira, porque no sabemos lo que ocupa el contenido*/
    margin: 20px auto;
    font-family: sans-serif;
	}
	.contenedor>p{
		text-align: center;
		color: darkblue;
		font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman', serif;
		font-size: 20px;
		margin-bottom: 20px;
	}
.superior,.inferior {
    width: 900px;
    height: 200px;
    background-color:#deeaee;
    border-radius: 20px;
    border-color: blue;
    margin-bottom: 20px;
    }

.imagen{
	width: 170px;
	height: 140px;
	background-image: url(../imgs/CHUPETerosa.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px;
	float: left;
	}

.texto{
	width: 470px;
	height: 200px;
	text-align: justify;
	float: left;
	}
	.texto h1{
	height: 15px;
    margin: 25px auto;
    color:blue;
    font-weight: bold;
		
	}
	.texto p .precio p:last-child{
		font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman', serif;
		text-align: justify;
	}
	.texto p span{
		color: darkblue;
	}
.precio{
	width: 150px;
	float: left;
	margin-left: 40px;
	font-size: 15px;
	text-align: center;
}
	.precio p:first-child{
	color: black;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
	
	.precio span{
	color: red;
	font-weight: bold;
		
	}
	.precio div{
	width: 130px;
    height: 30px;
    margin-top: 50px;
    background-color: orange;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-family: cursive;
	}
	.inferior .imagen{
		background-image: url(../imgs/CHUPETeazul.jpg);
		
	}