@import url(reset.css);


.contenedor {
    width: 1000px;
    /*Por si se estira, porque no sabemos lo que ocupa el contenido*/
    margin: 20px auto;
    font-family: font-stretch: semi-expanded;;
		}
.superior{
    width: 900px;
    height: 50px;
    margin: 0px auto;
    border-top: 3px solid brown;
    border-bottom: 3px solid brown;
    }
.inferior{
    width: 900px;
    height: 350px;
    margin: 0px auto;
    border-bottom: 3px solid brown;
    }
.superior ul{
	padding: 15px;
	text-align: right;
	}
.superior li {
    width: 110px;
    height: 20px;
    display: inline-block;
    border: 1px solid brown;
    border-radius: 8px;
    text-align: center;
    margin-right: 5px;
    
 }	
ul>li>a{
    color: brown;
    text-decoration: none;
    line-height: 20px;    
}
ul>li:hover {
    border: 1px solid red;
}
.menu{
	width: 150px;
    height: 300px;
    border-right: 5px solid brown;
    float: left;
    margin: 20px 2px auto;
	}

.menu>ul:first-of-type{
    height: 30px;
    width: 125px;
    border-bottom: 3px solid brown;
}
.menu>ul:nth-child(2){
    height: 115px;
    width: 125px;	
	}
.menu>div{
	width: 80px;
	height: 3px;
    background-color: brown;
    margin-left: 20px;
}

.menu>ul:nth-child(3){
    height: 30px;
    width: 125px;
    
}
.menu li{
	width: 110px;
    height: 20px;
    border: 1px solid brown;
    border-radius: 8px;
    text-align: center;
    margin: 5px;
}
.imagen>div{

	width: 740px;
    height: 325px;
    margin: 20px auto;
    background-position: center;
    background-image: url(../imgs/pan1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
	}
	
	