@import url(reset.css);


.contenedor {
    width: 1000px;
    margin: 20px auto;
    font-family: serif;
		}
/*cabecera del calendario*/
h1{
    
    font-size: 46px;
    color: grey;
    text-align: left;
    padding: 10px;
    margin-left: 280px;
}

h1>span{
    color: blue;
}

/*tabla del calendario*/
#calendario { border: 1px solid #ccc; margin: 0px auto;}
#calendario th,#calendario td { font: bold 20px arial; width: 60px; height: 60px; border: 1px solid #ccc; text-align: center;
line-height: 60px;}
#calendario th { color:grey; background-color: #ccc }
#calendario tr { line-height: 60px; }
#fila1 td:first-child{
    color: red;
}
/*Pestaña de dia actual*/
#triangulo{
    display: block;
    margin: 0 auto;
    width: 0px;
    height: 0;
    border-color: #ccc transparent transparent;
    border-style: solid;
    border-width: 19px;
    position: relative;
    top: -183px;
    }