/* CSS Document */

@import url(reset.css);
.contenedor {
    width: 800px;
    background-color: white;
    margin: 20px auto;
    border: 5px solid darkgreen;
}

header {
    background-image: url(../imgs/cabecera.jpg);
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-image: url(../imgs/barranav.jpg);
    height: 30px;
    background-size: cover;
}

nav li {
    display: inline-block;
    line-height: 40px;
    font-family: sans-serif;
    margin-left: 10px;
}

nav li a {
    text-decoration: none;
    color: white;
    word-spacing: 10px;
}

.cuerpo {

    height: 620px;
}

.col1 {
    height: 400px;
    width: 300px;
    float: left;
}

.col1 div {

    background-color: rgba(220, 255, 7, 0.73);
}

.col1 h1 {

    text-decoration: none;
    background-image: url(../imgs/titlat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    text-align: left;
    line-height: 15px;
    font-size: 15px;
    padding: 12px;
    font-family: sans-serif;
    word-spacing: 10px;
    margin-top: 35px;
}

.col1 input {
    margin: 5px;
}

.col1 div:first-child{
	height: 130px;
}
.col1 div:nth-child(2) p {
    text-align: left;
    padding: 20px;
}


.col1 div:last-of-type li:before{
	content: "♦ ";
	

}
.col1 ul{
	text-align: left;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 15px;
    line-height: 15px;
}
.col2 {
    height: 620px;
    width: 485px;
    padding: 5px;
    float: left;
    background-image: url(../imgs/decora_trans.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.col2 h1 {
    font-size: 20px;
    padding: 10px;
    font-family: sans-serif;
    margin-top: 20px;
}

.col2 div {

    text-align: left;
    padding: 20px;
}