
@import url(reset.css);


.contenedor{
			width: 800px;
			height: 800px;
			padding: 20px;
			margin: 0px auto;
			background-color: #eeeeee;}


.col1,.col2{
	width: 300px;
	height: 800px;
	float: left;
	padding: 20px;
}
h1{
	font-size: 20px;
	font-weight: bold;
	border-top: 2px solid #ccc;
	margin-bottom: 10px;
	margin-top: 20px;
	font-family: sans-serif;
}
ul{
	margin-bottom: 20px;
}
li{
	list-style-type: square;
	font-size: small;
	vertical-align: center;
	margin-left: 20px;
}
img{
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-left: 100px;

}