@import url(reset.css);

html {
    background-color: #887a7a;
}

.contenedor {
    width: 1000px;
    /*Por si se estira, porque no sabemos lo que ocupa el contenido*/
    margin: 0px auto;
    font-family: 'Showcard Gothic', serif;
}

.contenedor>div {
    background-color: #b9b9bf;
    margin: 0px auto;
}

.cabecera {
    width: 800px;
    height: 100px;
    color: white;
    border: 2px solid #887a7a;
    position: relative;
    top: 20px;
}

.cabecera>div:first-child {
    height: 40px;
    width: 460px;
    float: left;
    padding-top: 40px;
    padding-left: 30px;
}

.cabecera>div:last-child {
    height: 30px;
    width: 240px;
    float: right;
    padding-top: 40px;
    padding-right: 30px;
}

.cabecera h1 {
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 15px;
    text-align: center;
}

.columnas {
    width: 1000px;
    height: 596px;
    border: 2px solid #887a7a;
}

.botones {
    width: 248px;
    height: 596px;
    border-right: 2px solid #887a7a;
    float: left;
}

.botones h1 {
    color: #887a7a;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}

.botones ul {
    width: 180px;
    height: 300px;
    margin: 0px auto;
}

.botones li {
    height: 30px;
    padding: 10px;
}

.botones a {
    display: block;
    /*Para que salga el dedo de enlade en todo el boton del menu, que es el li*/
    text-decoration: none;
    font-size: 10px;
    color: white;
    border-left: 20px solid white;
    background-color: #887a7a;
    line-height: 30px;
    /*Le damos la misma altura de linea que al contenedor menu, para que se centre en vertical*/
    padding-left: 20px;
}

.cuerpo {
    width: 498px;
    height: 596px;
    border-right: 2px solid #887a7a;
    float: left;
}

.cuerpo h1 {
    color: #887a7a;
    font-size: 20px;
    text-align: center;
    padding-top: 210px;
}

.noticias {
    width: 248px;
    height: 596px;
    float: left;
}

.noticias h1 {
    color: #887a7a;
    font-size: 20px;
    text-align: center;
    padding-top: 298px;
}


.menu {
    height: 30px;
    width: 465px;
    background-color: #887a7a;
    font-family: sans-serif;
    font-size: 10px;
    margin: 30px auto;
    border-top: 2px solid white;
}

.menu a {
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: white;
    line-height: 30px;
    /*Le damos la misma altura de linea que al contenedor menu, para que se centre en vertical*/
}

.menu li {
    display: inline-block;
    text-align: center;
    width: 64px;
}