/* CSS Document */

@import url(reset.css);



body,
html {
    height: 100%;
}

body {
    background-image: url(../imgs/pgbk.gif);
    background-repeat: repeat-x;
    background-color: #668497;
    /* Color para conseguir el mismo degradado, ya que la imagen es corta y mide poco de alto*/
}

#contenedor {
    background-image: url(../imgs/contentbg.gif);
    background-repeat: repeat-y;
    width: 751px;
    min-height: 800px;
    margin: 0px auto;
}

#contenedor header {
    background-image: url(../imgs/headerbg.gif);
    background-repeat: no-repeat;
    text-align: center;
    width: 751px;
}

header div {
    width: 735px;
    height: 335px;
    background-image: url(../images_p7/key_visual1.jpg);
    background-repeat: no-repeat;
    margin: 0px auto;
    position: relative;
    top: 18px;
}

nav {
    height: 30px;
    width: 540px;
    top: -70px;
    left: 8px;
    background-color: #CCC;
    position: relative
}

nav li {
    display: inline-block;
    margin-right: 30px;
    line-height: 30px;
    font-family: sans-serif;
}

li:hover {
    background-color: bisque;
}

nav a {
    text-decoration: none;
    color: red;
}

#cuerpo {
    height: 500px;
}

#cuerpo p {
    color: white;
    font-size: small;
    margin-left: 10px;
}

footer {
    color: white;
    font-size: small;
    text-align: center;
    padding-bottom: 10px;
}