#contenedor {
    width: 920px;
    height: 176px;
}

.header {
    width: 900px;
    height: 24px;
}

.content {
    width: 900px;
    height: 93px;
}

.footer {
    width: 900px;
    height: 23px;
    text-align: center;
}