body{
		margin: 0px;
		background-color: #cccccc;
	}
	h3{
		margin: 0px;,
	}
		#contenedor{
			width: 900px;
			height: auto;
			padding: 10px;
			margin: 0px auto;
			background-color: #eeeeee;
		}
		.header{
			width: 900px;
			height: 24px;
			border-bottom: 1px solid #bbbbbb;
		}
		#content{
			width: 900px;
			height: 93px;
			border-bottom: 1px solid #bbbbbb;
		}
		.footer{
			width: 900px;
			height: 23px;
			text-align: center;
		}