/*Reseteamos por si coge opciones por defecto*/
		*{
			margin:0px;
			padding:0px;
		}
		#wrapper{
			width: 900px;
			padding: 10px;
			margin: 0px auto;
			background-color: #eeeeee;
		}
		.header{
			width: 900px;
			border-bottom: 1px solid #bbbbbb;
		}
		.col01{
			width: 400px;
			min-height: 100px;
			float: left;
			
		}
		#col02{
			width: 400px;
			min-height: 100px;
			float: right;

			}		
		#footer{
			clear: both;/*Hacemos un reset de los bloques anteriores para no mezclar los que flotan con los que no*/
			width: 900px;
			border-top: 1px solid #bbbbbb;
		}