/*@import url(reset.css); No reseteo para que no me quite las caracteristicas de los header y footer*/

.wrapper{
			width: 900px;
			padding: 10px;
			margin: 0px auto;
			background-color: #eeeeee;
		}
		.header{
			width: 900px;
			border-bottom: 1px solid #bbbbbb;
		}
		.col01{
			width: 400px;
			min-height: 100px;
			float: left;
			text-align: justify;
			
		}
		.col02{
			width: 400px;
			min-height: 100px;
			float: right;
			text-align: justify;

			}		
		.footer{
			clear: both;/*Hacemos un reset de los bloques anteriores para no mezclar los que flotan con los que no*/
			width: 900px;
			border-top: 1px solid #bbbbbb;
		}