@import url(reset.css);

.tabla{
	display: table;
	margin: 10px auto;
	border-spacing: 5px 20px;
	/*border: 5px solid red;*/
}

.fila{
	display: table-row;

}
.celda{
	display: table-cell;
	width: 100px;
	height: 100px;
	background-image: url(../imgs/Flor.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.celdapar{
	display: table-cell;
	width: 100px;
	height: 100px;
	background-color: #CCC;
	}