@import url(reset.css);


.contenido{
	display: table;
	margin: 10px auto;
	border-spacing: 5px 20px;
	}

.contenido>div{
	display: table-row;

}
.foto{
	display: table-cell;
	width: 100px;
	height: 100px;
	background-color: #CCC;
}
.foto1{
	background-image: url(../imgs/Flor.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	
	}