@import url(reset.css);

.contenedor{
	width: 1000px;
	height: 1000px;
	margin: 0px auto;
	}


.menu{
	width: 300px;
	height: 1000px;
	background-color: #CCD;
	float: left;

}

.centro{
	width: 400px;
	height: 1000px;
	float: left;

	}

.titulo{
	width: 400px;
	height: 50px;
	background-color: #eee;
}
.contenido{
	width: 400px;
	height: 900px;
	background-color: white;
}
.pie{
	width: 400px;
	height: 50px;
	background-color: #ccc;
}


