@import url(reset.css);

html {
    background-color: #eee;
}

.contenedor {
    width: 800px;
    /*Por si se estira, porque no sabemos lo que ocupa el contenido*/
    margin: 0px auto;
    font-family: sans-serif;
}

.contenedor>div {
    background-color: white;
}

.contenedor>div:last-child {
    height: 50px;
    text-align: center;
    font-size: small;
    margin-top: 10px;
    line-height: 50px;
    /*Para centrar el texto del pie en vertical*/
}

.cabecera {
    width: 800px;
    height: 300px;
}
.cabecera>div:first-child{
	height: 200px;
}

  


.cabecera>div:first-child>div:first-child {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 210px;
    height: 150px;
}

.cabecera>div:first-child>.redes {
    float: right;
    height: 80px;
    width: 220px;
    padding-top: 30px;
}
.redes a{text-decoration: none;
    color: black;

}
.redes a:nth-child(3){
    margin-left: 20px;}

.cabecera p {
    font-style: italic;
}

img {
    width: 25px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}
/*menu*/
.menu{
	height: 50px;
	width: 760px;
	background-color: #92bbde;
	margin: 0px auto;
}
.menu a{
	display: block;/*Para que salga el dedo de enlade en todo el boton del menu, que es el li*/
	text-decoration: none;
	color: black;
	line-height: 50px;/*Le damos la misma altura de linea que al contenedor menu, para que se centre en vertical*/
}
.menu li{
	display: inline-block;
	width: 100px;
	text-align: center;
}
.menu ul{
	width: 630px;
	margin: 0px auto;

}

/*Parte del cuerpo*/
.cuerpo>div:first-child{
	width: 760px;
	height:300px;
	background-image: url(../imgs/personas.jpg);
	margin: 0px auto;
	background-size: cover;
	background-position: bottom;
}
/*Caja texto sobre foto*/

.caja{
    height: 200px;
    width: 300px;
    background-color: rgba(255,255,255,0.4);
    position: relative;
    top: 40px;
    left: 400px;
    border-radius: 10px;
    padding: 20px;
}
 p{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;

}
 h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.caja p+p{
    background-color: black;
    width: 80px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}
.caja a{
    display: block;
     color: white;
     text-decoration: none;
}
.cuerpo{
    width: 800px;
    height: 800px
}
.columnas>div{
    width: 360px;
    height: 460px;
    float: left;
    padding: 20px;
}
.columnas p+h2{
    margin-top: 20px;
}

.foto{
   width: 360px;
    height: 100px;
    background-image: url(../imgs/personas.jpg);
    background-size: cover;
    background-position: 0px 123px;
}