@import url(reset.css);

body {
    background-image: url(../imgs/fondo.gif);
}

.contenedor {

    width: 1000px;
    background-color: white;
    margin: 20px auto;
}

header {
    background-image: url(../imgs/cabecera.jpg);
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

header+nav {
    background-image: url(../imgs/fondonav.gif);
    height: 30px;
}

nav li {
    display: inline-block;
    line-height: 30px;
    margin-left: 10px;
}

header+nav li a {
    text-decoration: none;
    color: darkblue;
}

.cuerpo {

    height: 500px;
}

.col1 {
    height: 500px;
    width: 700px;
    float: left;
}

.col1 h1 {
    font-size: 20px;
    padding: 10px;
    font-family: sans-serif;
}

.col1 p {
    text-align: left;
    font-size: small;
    margin: 10px;
}

.col1 nav {
    text-align: left;
    margin-top: 20px;
}

.col1 nav a {
    color: green;
    text-decoration: none;
}

.col2 {
    height: 420px;
    width: 300px;
    float: left;
    background-color: lightblue;
}


.col2 input {
    margin: 10px;
}

.col2 ul {
    list-style-image: url(../imgs/bullet.gif);
    text-align: left;
    padding-left: 50px;
    padding-top: 25px;
    line-height: 25px;
}

.col2 h1 {
    background-color: darkblue;
    color: white;
    text-align: left;
    font-size: 15px;
    padding: 10px;


    font-family: sans-serif;
}


.col2 div:nth-child(2) p {
    text-align: left;
    padding: 20px;
}

.col2 img {
    position: relative;
    top: 3px;
}