@charset "utf-8";
/* CSS Document */

.maqueta{
	width: 800px;
	margin: 10px auto;
	
}
header{
	background-color:#1e4264;
	height: 50px;
	border-radius:10px;
	text-align:center;
	line-height:50px;
	color: white;
	font-family:Ravie, 'Showcard Gothic', serif;
}
.caja{
	height: 500px;
	
}
#menu{
	background-color:#1e4264;
	height: 300px;
	width: 200px;
	border-radius:10px;
	margin-top:20px;
	margin-right:50px;
	float:left;
}
ul{margin:20px auto;
}
li{
	height: 20px;
    background-color: #ccc;
    border-radius: 30px;
    margin: 15px;
}
a{
	display:block;
	text-decoration:none;
	text-align:center;
	line-height:20px;
	color:black;
}

#info{
	background-color:#1e4264;
	min-height: 460px;
	overflow: auto;
	width: 550px;
	border-radius:10px;
	margin-top:20px;
	float:left;
}
footer{
	background-color:#1e4264;
	height: 50px;
	border-radius:10px;
	text-align:right;
	line-height:50px;
	padding-right:10px;
	color: white;
	font-family:Ravie, 'Showcard Gothic', serif;
	font-size:small;
}
.oculto{
	display:none;
	}
	
.oculto:target{
	display: block;
    width: 320px;
    max-height: 300px;
    overflow: auto;
    border-radius: 10px;
    text-align: center;
    padding: 6px;
    position: relative;
    top: 30px;
    left: 45px;
    background-color: #ccc;
}
.oculto img{
position: fixed;
top: 90px;
left: 320px;
width: 60px;
height: 55px;
}	
