@import url(reset.css);

body{
	width: 900px;
	height: 900px;
	margin: 0px auto;
}

body h1 {
	width: 600px;
	margin: 0px auto;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	padding: 20px;
	border-bottom: 3px solid black;
}
	


body li{
	display: inline-block;
	padding: 20px;
	text-align: justify-all;
	text-indent:inherit;
	list-style-type: upper-latin;}

body li>a{
	
	font-weight: bold;

}

body footer{
	font-style: italic;
	border-top: 3px solid black;
	padding: 20px;
	text-align: center;
}