@import url(reset.css);



img{
	display: block;
	margin: 10px auto;
	
}
div{
	width: 800px;
	height: 300px;
	margin: 0px auto;
}
div img{
	display: inline;
	
	}
p{
	font-style: italic, bold;
	font-family: Courier New;
	font-size: 28px;
	color: blue;
	text-align: center;
}